//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Thu 05 02 12:20:20 2024

IO_LOC "control_leds[7]" B12;
IO_PORT "control_leds[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[6]" B13;
IO_PORT "control_leds[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[5]" B14;
IO_PORT "control_leds[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[4]" D14;
IO_PORT "control_leds[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[3]" L9;
IO_PORT "control_leds[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[2]" N9;
IO_PORT "control_leds[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[1]" N6;
IO_PORT "control_leds[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "control_leds[0]" A11;
IO_PORT "control_leds[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart_tx" J14;
IO_PORT "uart_tx" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "pin_pwm_green" A15;
IO_PORT "pin_pwm_green" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "pin_pwm_red" E15;
IO_PORT "pin_pwm_red" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uart_rx" J16;
IO_PORT "uart_rx" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "reset_uart" B11;
IO_PORT "reset_uart" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" H11;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
